<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Demo test</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      table, th, td {
        border: 1px solid black;
        font-size: 12px; /* Set the font size for all table elements */
      }

      .header-container img {
        height: 200px;
        margin: 30px 10px;
      }

      @page {
        margin-top: 10px;
      }

      .header-container {
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        border: 1px solid black;
        page-break-inside: avoid;
      }

      .header-container .img-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .header-container h1 {
        display: inline-block;
        vertical-align: middle;
      }

      th, td {
        text-align: center;
        padding: 8px;
      }

      td:first-child,
      th:first-child {
        min-width: 120px;
      }
      th:nth-child(1),
      td:nth-child(1),
      th:nth-child(2),
      td:nth-child(2),
      th:nth-child(3),
      td:nth-child(3),
      th:nth-child(4),
      td:nth-child(4),
      th:nth-child(5),
      td:nth-child(5),
      th:nth-child(6),
      td:nth-child(6) {
        width: 10%; /* Adjust width for columns 2 to 6 */
      }

      .page-break {
        page-break-before: always;
      }
      
      .img-size {
        width: 100px;
        height: 100px;
      }

      .page-container {
        page-break-before: always;
      }
    </style>
  </head>
  <body>
    <% for (let pageIndex = 0; pageIndex < Math.ceil(mergedDataWithoutPagination.length / 20); pageIndex++) { %>
    <div class="header-container">
      <div class="img-container">
        <img src="http://142.168.1.106:3002/assets/logo2.jpeg" class="img-size" alt="Placeholder Image" />
        <img src="https://www.chetascontrol.com/images/ind2.jpg" class="img-size" alt="Placeholder Image" />
      </div>
      <h1>Kaddam Left HR Canal Gate Report</h1>
    </div>

    <table>
      <thead>
        <tr>
          <th>Date-time</th>
          <th>Gete 1 Opening (Feet)</th>
          <th>Gate 1 Discharge (C/S)</th>
          <th>Gete 2 Opening (Feet)</th>
          <th>Gate 2 Discharge (C/S)</th>
          <th>Gete 3 Opening (Feet)</th>
          <th>Gate 3 Discharge (C/S)</th>
          <th>Gete 4 Opening (Feet)</th>
          <th>Gate 4 Discharge (C/S)</th> 
          <th>Gete 5 Opening (Feet)</th>
          <th>Gate 5 Discharge (C/S)</th>
          <th>Total Discharge (C/S)</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = pageIndex * 20; i < (pageIndex + 1) * 20 && i < mergedDataWithoutPagination.length; i++)
        { %>
        <tr>
          <td>
            <%= new Date(mergedDataWithoutPagination[i].dateTime).toLocaleString('en-US', { year: 'numeric',
            month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }).replace(/(\d+)\/(\d+)\/(\d+),/g,
            '$3-$1-$2T' ) %>
          </td>
          <td><%= mergedDataWithoutPagination[i].hrklManGate1Position.toFixed(2) %></td>
          <td><%= mergedDataWithoutPagination[i].hrklManGate1Discharge %></td>
          <td><%= mergedDataWithoutPagination[i].hrklManGate2Position.toFixed(2) %></td>
          <td><%= mergedDataWithoutPagination[i].hrklManGate2Discharge %></td>
          <td><%= mergedDataWithoutPagination[i].hrklManGate3Position.toFixed(2) %></td>
          <td><%= mergedDataWithoutPagination[i].hrklManGate3Discharge %></td>
          <td><%= mergedDataWithoutPagination[i].hrklManGate4Position.toFixed(2) %></td>
          <td><%= mergedDataWithoutPagination[i].hrklManGate4Discharge %></td>
          <td><%= mergedDataWithoutPagination[i].hrklManGate5Position.toFixed(2) %></td>
          <td><%= mergedDataWithoutPagination[i].hrklManGate5Discharge %></td>
          <td><%= mergedDataWithoutPagination[i].kadamTotalDischarge %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <% } %>
  </body>
</html>
