<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Demo test</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
        /* Set width to 100% to fit on A4 page */
      }

      table,
      th,
      td {
        border: 1px solid black;
      }

      .header-container img {
        height: 200px;
        margin: 30px 10px; /* Add margin to both left and right sides */
      }
      @page {
        margin-top: 10px; /* Add top margin to all pages */
      }

      .header-container {
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        /* Add bottom margin */
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        page-break-inside: avoid;
      }

      .header-container .img-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .header-container h1 {
        display: inline-block;
        /* Display h1 as inline block */
        vertical-align: middle;
        /* Align h1 vertically in the middle */
      }

      th,
      td {
        text-align: center;
        /* Center-align content in cells */
        padding: 8px;
        /* Add padding for better readability */
      }

      td:first-child,
      th:first-child {
        min-width: 120px;
        /* Set minimum width for the Date-time column */
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 8%;
        /* Adjust width for Gate 1 column */
      }

      /* Add similar styles for columns 3 to 20 */

      .page-break {
        page-break-before: always;
      }
      .img-size {
        width: 100px;
        height: 100px;
      }

      .page-container {
        page-break-before: always;
      }
    </style>
  </head>
  <body>
    <% for (let pageIndex = 0; pageIndex < Math.ceil(lmdPondlevelGateReportsWithoutPagination.length / 14); pageIndex++) { %>
    <div class="header-container">
      <div class="img-container">
        <img src="http://142.168.1.106:3002/assets/logo2.jpeg" class="img-size" alt="Placeholder Image" />
        <img src="https://www.chetascontrol.com/images/ind2.jpg" class="img-size" alt="Placeholder Image" />
      </div>
      <h1>LMD Dam Gate Inflow Outflow Pond-Level Report</h1>
    </div>
 
    <table>
      <thead>
        <tr>
          <th>Date-time</th>
          <th>Gagillapur Inflow Level (Feet)</th>
          <th>Gagillapur Inflow Discharge (Cusecs)</th>
          <th>Potour Inflow Level (Feet)</th>
          <th>Potour Inflow Discharge (Cusecs)</th>
          <th>Chintakunta Level (Feet)</th>
          <th>Chintakunta Discharge (Cusecs)</th>
          <th>Alugunuru Level (Feet)</th>
          <th>Alugunuru Discharge (Cusecs)</th>
          <th>Pond Level (Feet)</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = pageIndex * 14; i < (pageIndex + 1) * 14 && i < lmdPondlevelGateReportsWithoutPagination.length; i++)
        { %>
        <tr>
          <td>
            <%= new Date(lmdPondlevelGateReportsWithoutPagination[i].dateTime).toLocaleString('en-US', { year: 'numeric',
            month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }).replace(/(\d+)\/(\d+)\/(\d+),/g,
            '$3-$1-$2T' ) %>
          </td>
          <td><%= lmdPondlevelGateReportsWithoutPagination[i].inflow1Level.toFixed(3) %></td>
          <td><%= lmdPondlevelGateReportsWithoutPagination[i].inflow1Discharge.toFixed(3) %></td>
          <td><%= lmdPondlevelGateReportsWithoutPagination[i].inflow2Level.toFixed(3) %></td>
          <td><%= lmdPondlevelGateReportsWithoutPagination[i].inflow2Discharge.toFixed(3) %></td>
          <td><%= lmdPondlevelGateReportsWithoutPagination[i].inflow3Level.toFixed(3) %></td>
          <td><%= lmdPondlevelGateReportsWithoutPagination[i].inflow3Discharge.toFixed(3) %></td>
          <td><%= lmdPondlevelGateReportsWithoutPagination[i].damDownstreamLevel.toFixed(3) %></td>
          <td><%= lmdPondlevelGateReportsWithoutPagination[i].damDownstreamDischarge.toFixed(3) %></td>
          <td><%= lmdPondlevelGateReportsWithoutPagination[i].pondLevel.toFixed(3) %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <% } %>
  </body>
</html>
