<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Demo test</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
        /* Set width to 100% to fit on A4 page */
      }

      table,
      th,
      td {
        border: 1px solid black;
      }

      .header-container img {
        height: 200px;
        margin: 30px 10px; /* Add margin to both left and right sides */
      }
      @page {
        margin-top: 10px; /* Add top margin to all pages */
      }

      .header-container {
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        /* Add bottom margin */
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        page-break-inside: avoid;
      }

      .header-container .img-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .header-container h1 {
        display: inline-block;
        /* Display h1 as inline block */
        vertical-align: middle;
        /* Align h1 vertically in the middle */
      }

      th,
      td {
        text-align: center;
        /* Center-align content in cells */
        padding: 8px;
        /* Add padding for better readability */
      }

      td:first-child,
      th:first-child {
        min-width: 120px;
        /* Set minimum width for the Date-time column */
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 8%;
        /* Adjust width for Gate 1 column */
      }

      /* Add similar styles for columns 3 to 20 */

      .page-break {
        page-break-before: always;
      }
      .img-size {
        width: 100px;
        height: 100px;
      }

      .page-container {
        page-break-before: always;
      }
    </style>
  </head>
  <body>
    <% for (let pageIndex = 0; pageIndex < Math.ceil(srspParameterOverviewReportWithoutPagination.length / 18); pageIndex++) { %>
    <div class="header-container">
      <div class="img-container">
        <img src="http://142.168.1.106:3002/assets/logo2.jpeg" class="img-size" alt="Placeholder Image" />
        <img src="https://www.chetascontrol.com/images/ind2.jpg" class="img-size" alt="Placeholder Image" />
      </div>
      <h1>SRSP Dam Parameter Overview Report</h1>
    </div>

    <table>
      <thead>
        <tr>
          <th>Date-time</th>
          <th>Pond Level (Feet)</th>
          <th>Live Capacity (MCFT)</th>
          <th>Gross Storage (MCFT)</th>
          <th>Full Reserve Water (Feet)</th>
          <th>Contour Area (M.SqFt)</th>
          <th>Cathment Area (Sq.Km)</th>
          <th>Ayucut Area (Acres)</th>
          <th>Filing Percentage (%)</th>
          <th>Inst. Gate Discharge (Cusecs)</th>
          <th>Inst. canal Discharge (Cusecs)</th>
          <th>Total Dam Discharge (Cusecs)</th>
          <th>Cumulative Dam Discharge (Cusecs)</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = pageIndex * 18; i < (pageIndex + 1) * 18 && i < srspParameterOverviewReportWithoutPagination.length; i++)
        { %>
        <tr>
          <td>
            <%= new Date(srspParameterOverviewReportWithoutPagination[i].dateTime).toLocaleString('en-US', { year: 'numeric',
            month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }).replace(/(\d+)\/(\d+)\/(\d+),/g,
            '$3-$1-$2T' ) %>
          </td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].pondLevel.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].liveCapacity.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].grossStorage.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].fullReservoirLevel.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].contourArea.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].catchmentArea.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].ayacutArea.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].filling.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].instantaneousGateDischarge.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].instantaneousCanalDischarge.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].totalDamDischarge.toFixed(2) %></td>
          <td><%= srspParameterOverviewReportWithoutPagination[i].cumulativeDamDischarge.toFixed(2) %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <% } %>
  </body>
</html>